.btn-c-color {
    background: #eb5757;
}

.btn-c-color:hover {
    background: cornflowerblue;
}

.btn-icon {
    border-radius: 50%;
    background-color: #fef7f7;
}

.btn-icon:hover {
    background-color: aquamarine;
}

i {
    color: #eb5757;
}

.custom-padding {
    margin: 0 16px 5px 16px;
}

.line {
    margin: 10px;
    border: .5px solid lavender;
}