.btn-c-color {
    background: #eb5757;
}

.btn-c-color:hover {
    background: cornflowerblue;
}

.custom-padding {
    margin-left: 16px !important;
    margin-bottom: 5px;
}

.line {
    margin: 10px;
    border: .5px solid lavender;
}